{% load static from staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>Ttitle</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{% block css %}{% static 'css/home.css' %}{% endblock %}" media="screen, projection">
        <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">
    </head>
    <body>
        <header></header>
        <div class="page">
            {% block content %}
        </div>
        <footer></footer>
    </body>
</html>
