{% if debug %}
<script src="{{ STATIC_URL }}js/require.js" data-main="{{ STATIC_URL }}js/{{ module }}.js"></script>
{% else %}
<script src="{{ STATIC_URL }}js-build/require.js" data-main="{{ STATIC_URL }}js-build/{{ module }}.js"></script>
{% endif %}
